---
import MainLayout from '@/layouts/MainLayout.astro'
---

<MainLayout
	title="Homepage"
	description="Homepage of the application"
	robots="noindex, nofollow"
>
	<h1 class="text-5xl text-center mt-8">Astro</h1>
</MainLayout>