---
import AuthLayout from "@/layouts/AuthLayout.astro";
import "@/styles/login-register.css";
---

<AuthLayout
  title="Login"
  description="Login to your account"
  robots="noindex, nofollow"
>
  <section id="formWrapper">
    <div class="formCard">
      <div class="formCardHeader">
        <h3>Login</h3>
        <p>Please sign in to your account.</p>
      </div>
      <div class="space-y-5">
        <section class="fieldContainer">
          <label class="formLabel">Email</label>
          <input
            class="formInput"
            name="email"
            type="email"
            placeholder="mail@gmail.com"
          />
        </section>
        <section class="fieldContainer">
          <label class="formLabel">Password</label>
          <input
            class="formInput"
            name="password"
            type="password"
            placeholder="Enter your password"
          />
        </section>
        <section class="flex flex-col justify-center items-start gap-2">
          <div class="flex items-center">
            <input id="remember_me" name="remember_me" type="checkbox" class="formCheckboxInput" />
            <label for="remember_me" class="formCheckboxLabel">Remember me</label>
          </div>
          <div class="text-sm">
            <a href="#" class="formLink">
              Forgot your password ?
            </a>
          </div>
          <div class="text-sm">
            <a href="/register" class="formLink">
              Don't have an account ? Register
            </a>
          </div>
        </section>
        <section>
          <button type="submit" class="formSubmitBtn">
            Sign in
          </button>
      </section>
      </div>
    </div>
  </section>
</AuthLayout>
