---
import MainLayout from '@/layouts/MainLayout.astro'
---

<MainLayout
	title="Protected Page"
	description="Protected page"
	robots="noindex, nofollow"
>
	<h1 class="text-5xl text-center mt-8">Protected Page</h1>
</MainLayout>