---
import { firebase } from '@/firebase/config';
import MainLayout from '@/layouts/MainLayout.astro';
import { Icon } from 'astro-icon/components';
const { user, isLoggedIn } = Astro.locals;

if (!isLoggedIn || !user) {
	return Astro.redirect('/login');
}

const firebaseUser = firebase.auth.currentUser;
await firebaseUser?.reload();
---

<MainLayout
	title="Protected Page"
	description="Protected page"
	robots="noindex, nofollow"
>
<div class="bg-gray-200 text-slate-700 min-h-[calc(100vh-108px)] font-sans w-full grid place-content-center">
  <div class="card w-96 mx-auto bg-white rounded-lg shadow-lg hover:shadow-none">
   {
			user?.avatar ? (
				<img
					class="size-[130px] bg-gray-200 mx-auto rounded-full -mt-16 border-8 box-content border-white"
					src={user.avatar}
					alt={user.displayName}
				/>
			) : (
				<div class="size-[130px] bg-gray-200 mx-auto rounded-full -mt-16 border-8 box-content border-white flex justify-center items-center">
					<Icon name="user" class="size-[80px] text-gray-500" />
				</div>
			)
		}
		<div class="text-center mt-2 text-3xl font-medium">{user?.displayName}</div>
		<div class:list={["text-center mt-2 text-base font-light text-white w-fit mx-auto px-4 py-1 rounded-lg", {
			"bg-green-600": user?.emailVerified,
			"bg-red-600": !user?.emailVerified,
		}]}>email {user?.emailVerified ? "" : "not"} verified</div>
		<div class="text-center mt-2 font-medium text-slate-700 italic">{user?.email}</div>
		<div class="px-6 text-center mt-2 font-light text-sm">
			<p>Full Stack Web Developer, passionate about learning new technologies and building new technologies.</p>
		</div>
     <hr class="mt-8">
     <div class="flex p-4">
       <div class="w-1/2 text-center">
         <span class="font-bold">1.8 k</span> Followers
       </div>
       <div class="w-0 border border-gray-300">
         
       </div>
       <div class="w-1/2 text-center">
         <span class="font-bold">2.0 k</span> Following
       </div>
     </div>
  </div>
</div>
</MainLayout>