---
import AuthLayout from "@/layouts/AuthLayout.astro";
import "@/styles/login-register.css";
---

<AuthLayout
  title="Login"
  description="Login to your account"
  robots="noindex, nofollow"
>
  <section id="formWrapper">
    <div class="formCard">
      <div class="formCardHeader">
        <h3>Register</h3>
        <p>Enter your credentials for your new account.</p>
      </div>
      <div class="space-y-5">
        <section class="fieldContainer">
          <label class="formLabel">Name</label>
          <input
            class="formInput"
            name="name"
            type="text"
            placeholder="John Doe"
          />
        </section>
        <section class="fieldContainer">
          <label class="formLabel">Email</label>
          <input
            class="formInput"
            name="email"
            type="email"
            placeholder="mail@gmail.com"
          />
        </section>
        <section class="fieldContainer">
          <label class="formLabel">Password</label>
          <input
            class="formInput"
            name="password"
            type="password"
            placeholder="Enter your password"
          />
        </section>
        <section class="fieldContainer">
          <label class="formLabel">Password Confirmation</label>
          <input
            class="formInput"
            name="password_confirmation"
            type="password"
            placeholder="Repeat password"
          />
        </section>
        <section class="text-sm">
          <a href="/login" class="formLink">
            Already have an account ?
          </a>
      </section>
      <section>
        <button type="submit" class="formSubmitBtn">
          Sign in
        </button>
      </section>
      </div>
    </div>
  </section>
</AuthLayout>
